@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1c1c25;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 1000px;
  height: 1000px;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(80% at 100% 100%);
}

section::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1000px;
  height: 1000px;
  background: linear-gradient(#c21500, #ffc500);
  clip-path: circle(50% at 40% 0%);
  z-index: 0;
}

.card {
  position: relative;
  width: 508px;
  height: 314px;
  transform-style: preserve-3d;
  perspective: 500px;
  z-index: 2;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}

.card .face.back {
  transform: rotateY(180deg);
}

.card:hover .face.back {
  transform: rotateY(360deg);
}

.card:hover .face.front {
  transform: rotateY(180deg);
}

.card .face.front::before {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.5;
}

.card .face.front::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.75;
}

.card .face.front .debit {
  position: absolute;
  top: 30px;
  left: 40px;
  color: #fff;
  font-weight: 500;
}

.card .face.front .bank {
  position: absolute;
  top: 25px;
  right: 40px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.card .face.front .chip {
  position: absolute;
  top: 80px;
  left: 50px;
  max-width: 64px;
}

.card .face.front .number {
  position: absolute;
  bottom: 130px;
  left: 40px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 18px;
  text-shadow: 0 2px 1px #0005;
  font-family: "Orbitron", sans-serif;
}

.card .face.front .valid {
  position: absolute;
  bottom: 90px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  text-align: right;
}

.card .face.front .valid span:last-child {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.card .face.front .card-holder {
  position: absolute;
  bottom: 50px;
  left: 40px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 16px;
}

.card .face.back .black-bar {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 40px;
  background: #000;
}

.card .face.back .cvv-text {
  position: absolute;
  top: 120px;
  left: 30px;
}

.card .face.back .cvv-text h5 {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card .face.back .cvv-text .white-bar {
  position: relative;
  width: 400px;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}

.card .face.back .cvv-text .cvv {
  position: relative;
  background: #ccc;
  color: #111;
  width: 50px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 395px;
  top: -35px;
}

.card .face.back .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  color: #fff;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.4em;
}
